@font-face {
	font-family: 'interRegular';
	src: url('/src/fonts/Inter_18pt-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'interLight';
	src: url('/src/fonts/Inter_18pt-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'interMedium';
	src: url('/src/fonts/Inter_18pt-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'interSemiBold';
	src: url('/src/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'interBold';
	src: url('/src/fonts/Inter_18pt-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'interExtraBold';
	src: url('/src/fonts/Inter_18pt-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

/* ---------------------------------- Color --------------------------------- */
$primary: #ffffff;
$secondary: #0a0a0a;
$txt2: #D4D4D4;


$bodymargin: 21.25rem;