@use '/src/styles/variables' as *;
@use '/src/styles/mixins' as *;

.anime__title {
	@include anime-text;

	@include mobile {
		font-size: 32px;
		line-height: 72px;
	}
	@include macbook {
		font-size: 88px;
		line-height: 100px;
	}
}
