@use '/src/styles/variables' as *;
@use '/src/styles/mixins' as *;

.blog__banner {
	padding: 15.75rem 240px 47px;
	display: flex;
	justify-content: center;

	@include macbook {
		padding: 15.75rem 5rem 47px;
	}
	@include Qhd {
		padding: 15.75rem 42rem 47px;
	}
	@include Uhd {
		padding: 15.75rem 82rem 47px;
	}
	@include tablet {
		padding: 15.75rem 1.5rem 47px;
	}
	@include mobile {
		padding: 8rem 16px 16px;
	}

	.banner {
		height: 640px;
		width: 1180px;
		border-radius: 16px;

		@include tablet {
			width: 100%;
			height: 450px;
		}
		@include mobile {
			width: 100%;
			height: 200px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 16px;
		}
	}
}

.blog__banner__mod {
	padding: 0;
	margin-bottom: 36px;

	@include mobile {
		margin: 0 16px;
		margin-bottom: 36px;
	}
}
.main {
	padding: 0 35rem;

	@include macbook {
		padding: 0 5rem;
	}
	@include macbookpro {
		padding: 0 17rem;
	}
	@include Qhd {
		padding: 0 48rem;
	}
	@include Uhd {
		padding: 0 88rem;
	}
	@include tablet {
		padding: 0 1.5rem;
	}
	@include mobile {
		padding: 0 16px;
	}

	.blog__titlecontainer {
		h2 {
			@include sub-title;
			margin-bottom: 8px;

			@include mobile {
				font-size: 25px;
				line-height: 26px;
			}
			@include sm {
				font-size: 20px;
				line-height: 22px;
			}
		}

		p {
			@include sub-text;
			margin-bottom: 24px;
		}

		.author__container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 23px;

			h3 {
				@include sub-text;
				font-family: interSemiBold;
			}

			h4 {
				@include sub-text;
			}
		}

		.blog__titlelinks {
			display: flex;
			justify-content: end;
			align-items: center;
			gap: 24px;
			margin-bottom: 41px;
		}
	}

	.blog__content {
		margin-bottom: 24px;

		h3 {
			@include sub-title;
			margin-bottom: 24px;
			font-size: 2.2rem;
			@include sm {
				font-size: 20px;
				line-height: 22px;
			}
		}
		p {
			@include sub-text;
			margin-bottom: 24px;

			:global(.bold) {
				color: white !important;
			}
			:global(.dot) {
				list-style-type: disc;
				margin-left: 20px;
			}
			a {
				color: rgba(255, 255, 255, 0.6);
				text-decoration: underline;
			}

			@include sm{
				font-size: 14px;
			}
		}
	}

	.blog__content__mod {
		padding-bottom: 0;
	}
}

.main__mod {
	margin-bottom: 27px;
}

.blog__activity {
	padding: 0 560px;
	margin-bottom: 200px;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 8px;

	@include macbook {
		padding: 0 5rem;
	}
	@include macbookpro {
		padding: 0 17rem;
	}
	@include Qhd {
		padding: 0 48rem;
	}
	@include Uhd {
		padding: 0 88rem;
	}
	@include tablet {
		padding: 0 1.5rem;
	}
	@include mobile {
		padding: 0 16px;
	}

	p {
		@include sub-text;
		display: flex;
		align-items: center;
		gap: 8px;
	}
}

.blog__by {
	padding: 0 $bodymargin;
	margin-bottom: 220px;

	@include macbook {
		padding: 0 5rem;
	}
	@include macbookpro {
		padding: 0 10rem;
	}
	@include scaled-range {
		padding: 0 10rem;
	}
	@include Qhd {
		padding: 0 35rem;
	}
	@include Uhd {
		padding: 0 75rem;
	}
	@include tablet {
		padding: 0 0.5rem;
	}
	@include mobile {
		padding: 0 16px;
		display: none;
	}

	h2 {
		@include sub-title;
		margin-bottom: 24px;
	}

	.blog__by__cards {
		display: flex;
		justify-content: space-between;
		gap: 56px;

		@include tablet {
			flex-wrap: wrap;
		}
	}
}

.waitlist {
	padding: 0 $bodymargin;
	margin-bottom: 220px;
	display: none;

	@include mobile {
		display: block;
		padding: 0 16px;
	}
}
