@use '/src/styles/variables' as *;
@use '/src/styles/mixins' as *;

.login {
	@include btn;
	padding: var(--custom-padding);
  font-size: var(--custom-font-size);
  border-radius: var(--custom-border-radius);

	@include mobile {
		font-size: 12px;
		padding: 6px 12px;
	}
}
