@use '/src/styles/variables' as *;
@use '/src/styles/mixins' as *;

.head {
	@include Hd {
		padding: 15.75rem 5rem 0rem;
	}
	@include Fhd {
		padding: 15.75rem $bodymargin 0rem;
	}
	@include Qhd {
		padding: 15.75rem 42rem 0rem;
	}
	@include Uhd {
		padding: 15.75rem 82rem 0rem;
	}
	@include macbookpro {
		padding: 15.75rem 17rem 0rem;
	}
	@include tablet{
		padding: 8.75rem 1.5rem 3rem;
	}
	@include mobile {
		padding: 8rem 16px 16px;
	}

	.header {
		margin: 85px 87px;
		text-align: center;

		@include mobile {
			margin: 21px 16px;
		}

		h2 {
			@include sub-title;
			text-align: center;
			margin-bottom: 17px;

			@include tablet{
				font-size: 1.6rem;
				line-height: 28px;
			}

			@include mobile {
				font-size: 24px;
				line-height: 28px;
				text-align: center;
				margin-bottom: 8px;
			}
		}

		p {
			@include sub-text;
			margin: 0 auto;

			@include Fhd {
				width: 86%;
			}
			@include Qhd {
				width: 88%;
			}

			@include tablet{
				font-size: 12px;
				line-height: 28px;
			}

			@include mobile {
				font-size: 12px;
				line-height: 16px;
				text-align: center;
				width: 100%;
			}
		}
	}
	.banner {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		.img {
			width: 100%;
		}

		button {
			@include btn;
			border-radius: 12px;
			background: #ffffff;
			color: #08090a;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 8px;
			position: absolute;
			top: 55%;
			display: none;
		}
	}
}

.main1 {
	@include Hd {
		padding: 0 5rem;
	}
	@include Fhd {
		padding: 0 $bodymargin;
	}
	@include macbookpro {
		padding: 0 17rem;
	}
	@include Qhd {
		padding: 0 42rem;
	}
	@include Uhd {
		padding: 0 82rem;
	}
	@include tablet {
		padding: 0 1.5rem;
	}
	@include mobile {
		padding: 0 16px;
	}

	.create {
		margin: 160px 0 80px;

		@include tablet{
			margin-bottom: 50px;
		}

		@include mobile {
			margin: 42px 0 24px;
		}

		.title__head {
			text-align: start;
			font-family: interSemiBold;
			font-size: 64px;
			line-height: 72px;
			color: rgba(255, 255, 255, 0.24);
			width: 70%;

			@include tablet{
				font-size: 55px;
				line-height: 52px;
				width: 100%;
			}

			@include mobile {
				font-size: 24px;
				line-height: 32px;
				width: 100%;
			}
		}
	}

	.feature__container__1 {
		.feature1 {
			margin: 1.5rem 0 272px; 

			@include tablet{
				margin-bottom: 100px;
			}
			@include mobile {
				margin: 1.5rem 0 4rem;
			}

			.feature1__title {
				margin-bottom: 28px;

				h2 {
					@include sub-title;
					margin-bottom: 24px;

					@include tablet{
						font-size: 1.8rem;
					}

					@include mobile {
						font-size: 24px;
						line-height: 20px;
						margin-bottom: 10px;
					}
				}

				p {
					@include sub-text;
					width: 70%;
					padding-bottom: 20px;
					border-bottom: 1px solid transparent;
					border-image: linear-gradient(
							to right,
							rgba(255, 255, 255, 0) 0%,
							rgba(255, 255, 255, 0.1) 50%,
							rgba(255, 255, 255, 0) 100%
						)
						1;

						@include tablet{
							width: 100%;
							font-size: 14px;
						}

					@include mobile {
						font-size: 12px;
						line-height: 16px;
						padding-bottom: 10px;
						width: 100%;
					}
				}
			}

			.feature1__flex {
				display: flex;
				justify-content: space-between;
				height: 660px;
				margin-bottom: 28px;

				@include macbookpro {
					width: 100%;
				}

				@include Hd {
					width: 100%;
				}

				@include tablet{
					height: 400px;
				}

				@include mobile {
					flex-direction: column;
					width: 100%;
					height: auto;
				}

				.feature1__flex__img {
					width: 520px;
					height: 660px;

					@include macbookpro {
						width: 100%;
					}
					@include Hd {
						width: 100%;
					}
					@include tablet{
						height: 400px;
					}
					@include mobile {
						width: 100%;
						height: 320px;
					}

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 24px;

						@include mobile {
							width: 100%;
							margin-bottom: 27px;
						}
					}
				}

				.feature1__flex__container {
					height: 660px;
					display: flex;
					flex-wrap: wrap;

					@include Hd {
						width: 100%;
					}
					@include Fhd {
						width: 696px;
					}
					@include Qhd {
						width: 47.5%;
					}
					@include Uhd {
						width: 47.5%;
					}
					@include tablet{
						height: 400px;
					}
					@include mobile {
						width: 100%;
						height: auto;
					}

					.feature1__flex__content {
						padding: 48px 50px;
						height: calc(50% - 1px);
						width: 348px;
						border: 1px solid rgba(255, 255, 255, 0.07);

						@include macbookpro {
							padding: 27px 30px;
							width: 290px;
						}
						@include Hd {
							padding: 27px 30px;
							width: 280px;
						}
						@include Qhd {
							width: 288px;
						}
						@include tablet{
							width: 220px;
							height: 200px;
							padding: 10px;
						}
						@include mobile {
							padding: 27px 16px;
							width: 180px;
							height: 170px;
						}
						@include sm {
							width: calc(50% - 1px);
						}

						h3 {
							@include flex-item__h3;

							@include mobile {
								font-size: 12px;
							}
						}

						p {
							@include flex-item__p;

							@include mobile {
								font-size: 12px;
							}
						}
					}
				}
			}

			.btn {
				display: flex;
				justify-content: end;
			}
		}

		.feature1__mod {
			margin-bottom: 309px;

			@include tablet {
				margin-bottom: 100px;
			}
			.feature1__flex {
				@include mobile {
					flex-direction: column-reverse;
				}
			}
		}
	}
}

.main3 {
	@include Hd {
		padding: 256px 5rem 0;
	}
	@include Fhd {
		padding: 256px $bodymargin 0;
	}
	@include macbookpro {
		padding: 256px 17rem 0;
	}
	@include Qhd {
		padding: 256px 42rem 0;
	}
	@include Uhd {
		padding: 256px 82rem 0;
	}
	@include tablet {
		padding: 0 1.5rem;
	}
	@include mobile {
		padding: 1.5rem 16px 0rem;
	}

	.feature1 {
		margin: 1.5rem 0 17rem;

		@include tablet{
			margin-bottom: 50px;
		}
		@include mobile {
			margin: 1.5rem 0 4rem;
		}

		.feature1__title {
			margin-bottom: 28px;

			@include mobile {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
			}

			h2 {
				font-family: interSemiBold;
				font-size: 4rem;
				text-align: start;
				line-height: 72px;
				color: rgba(255, 255, 255, 0.24);
				width: 90%;
				margin-bottom: 84px;

				@include tablet{
					font-size: 55px;
					line-height: 52px;
					margin-bottom: 20px;
					width: 100%;
				}
				@include mobile {
					font-size: 24px;
					line-height: 28px;
					width: 100%;
					text-align: center;
					color: $primary;
					margin-bottom: 16px;
				}
			}

			p {
				@include sub-text;
				width: 70%;
				margin-bottom: 21px;
				padding-bottom: 20px;
				border-bottom: 1px solid transparent;
				border-image: linear-gradient(
						to right,
						rgba(255, 255, 255, 0) 0%,
						rgba(255, 255, 255, 0.1) 50%,
						rgba(255, 255, 255, 0) 100%
					)
					1;
				@include tablet{
					width: 100%;
					font-size: 14px;
				}
				@include mobile {
					font-size: 12px;
					line-height: 16px;
					padding-bottom: 10px;
					width: 100%;
					text-align: center;
				}
			}
		}

		.feature1__flex {
			height: 660px;
			display: flex;
			justify-content: space-between;
			margin-bottom: 28px;

			@include macbookpro {
				width: 100%;
			}

			@include Hd {
				width: 100%;
			}
			@include tablet{
				height: 400px;
			}
			@include mobile {
				flex-direction: column;
				width: 100%;
				height: auto;
			}

			.feature1__flex__img {
				width: 520px;
				height: 660px;

				@include macbookpro {
					width: 100%;
				}
				@include macbook {
					width: 100%;
				}
				@include tablet{
					height: 400px;
				}
				@include mobile {
					width: 100%;
					height: 320px;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 24px;

					@include mobile {
						width: 100%;
						margin-bottom: 27px;
					}
				}
			}

			.feature1__flex__container {
				width: 696px;
				height: 100%;
				display: flex;
				flex-wrap: wrap;

				@include macbookpro {
					width: 100%;
				}
				@include Hd {
					width: 100%;
				}
				@include tablet{
					height: 400px;
				}
				@include mobile {
					width: 100%;
				}

				.feature1__flex__content {
					padding: 48px 50px;
					height: calc(50% - 1px);
					width: 348px;
					border: 1px solid rgba(255, 255, 255, 0.07);

					@include macbookpro {
						padding: 27px 28px;
						width: 295.5px;
					}
					@include Hd {
						padding: 27px 30px;
						width: 280px;
					}
					@include tablet{
						width: 210px;
						height: 200px;
						padding: 10px;
					}
					@include mobile {
						padding: 27px 12px;
						width: 180px;
					}
					@include sm {
						width: calc(50% - 1px);
					}

					h3 {
						@include flex-item__h3;
					}

					p {
						@include flex-item__p;
					}
				}
			}
		}
	}

	.feature1__mod {
		.feature1__flex {
			@include mobile {
				flex-direction: column-reverse;
			}
		}
	}
}

.main2 {
	background: #171717;
	@include Hd {
		padding: 148px 5rem 124px;
	}
	@include Fhd {
		padding: 148px $bodymargin 124px;
	}
	@include macbookpro {
		padding: 148px 17rem;
	}
	@include Qhd {
		padding: 148px 42rem 124px;
	}
	@include Uhd {
		padding: 148px 82rem 124px;
	}
	@include tablet {
		padding: 0 1.5rem;
	}
	@include mobile {
		padding: 42px 16px 42px;
	}

	.h2__container {
		margin-bottom: 4rem;

		@include tablet{
			margin-bottom: 20px;
		}
		@include mobile {
			margin-bottom: 16px;
		}

		h2 {
			font-family: interSemiBold;
			font-size: 4rem;
			text-align: start;
			line-height: 72px;
			color: rgba(255, 255, 255, 0.24);
			width: 90%;

			@include tablet{
				font-size: 2rem;
				line-height: 40px;
				width: 100%;
			}
			@include mobile {
				font-size: 24px;
				line-height: 28px;
				width: 100%;
			}
		}
	}

	.btn__container {
		margin-bottom: 22px;

		@include mobile {
			margin-bottom: 8px;
		}

		p {
			@include sub-text;
			color: rgba(255, 255, 255, 0.6);
			width: 73%;
			margin-bottom: 22px;
			padding-bottom: 20px;
			border-bottom: 1px solid transparent;
			border-image: linear-gradient(
					to right,
					rgba(255, 255, 255, 0) 0%,
					rgba(255, 255, 255, 0.1) 50%,
					rgba(255, 255, 255, 0) 100%
				)
				1;

			@include mobile {
				width: 100%;
				font-size: 12px;
			}
		}
	}

	.main2__container1 {
		margin-bottom: 200px;

		@include tablet{
			margin-bottom: 100px;
		}
		@include mobile {
			margin-bottom: 10px;
		}
	}

	.main2__container1:nth-child(2) {
		.h2__container {
			h2 {
				width: 60%;

				@include mobile {
					width: 100%;
				}
				@include macbook {
					width: 70%;
				}
			}
		}
	}
	.main2__container1:nth-child(3) {
		.flex__content {
			@include mobile {
				height: 200px;
			}
		}
	}

	.main2__container1:nth-child(4) {
		margin-bottom: 0;
		.h2__container {
			h2 {
				width: 95%;

				@include mobile {
					width: 100%;
				}
				@include macbook {
					width: 100%;
				}
			}
		}
	}

	.feature1__flex {
		display: flex;
		justify-content: space-between;
		height: 660px;
		margin-bottom: 28px;

		@include macbookpro {
			width: 100%;
		}
		@include macbook {
			width: 100%;
		}
		@include tablet{
			height: 400px;
		}
		@include mobile {
			flex-direction: column;
			width: 100%;
			height: auto;
		}

		.feature1__flex__img {
			width: 520px;
			height: 660px;

			@include macbookpro {
				width: 100%;
			}
			@include macbook {
				width: 100%;
			}
			@include tablet{
				height: 400px;
			}
			@include mobile {
				width: 100%;
				height: 320px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 24px;

				@include mobile {
					width: 100%;
					margin-bottom: 27px;
				}
			}
		}
	}

	.main2__flex__container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 696px;
		border-left: 1px solid rgba(255, 255, 255, 0.07);

		@include macbookpro {
			width: 100%;
		}

		@include Hd {
			width: 100%;
		}

		@include mobile {
			width: 100%;
			height: auto;
		}

		.flex__content {
			padding: 48px 50px;
			width: 347.5px;
			height: calc(50% - 1px);
			border: 1px solid rgba(255, 255, 255, 0.07);

			@include macbookpro {
				padding: 27px 30px;
				width: 295.5px;
			}

			@include Hd {
				padding: 27px 30px;
				width: 279.5px;
			}
			@include tablet{
				width: 214px;
				height: 200px;
				padding: 10px;
			}
			@include mobile {
				width: calc(50% - 1px);
				height: 174px;
				padding: 27px 15px;
			}
			@include sm {
				width: calc(50% - 1px);
			}

			h3 {
				@include flex-item__h3;

				@include mobile {
					font-size: 12px;
				}
			}

			p {
				@include flex-item__p;
				@include mobile {
					font-size: 12px;
				}
			}
		}
	}

	.feature1__mod {
		.feature1__flex {
			@include mobile {
				flex-direction: column-reverse;
			}
		}
	}
	.feature2__mod {
		@include mobile {
			flex-direction: column-reverse;
		}
	}
}

.waitlist {
	display: flex;
	justify-content: center;
	margin: 200px 0 167px;
}
