@use '/src/styles/variables' as *;
@use '/src/styles/mixins' as *;

.head {
	padding: 15.75rem $bodymargin 0rem;

	@include macbookpro {
		padding: 15.75rem 17rem 0rem;
	}

	@include macbook {
		padding: 15.75rem 5rem 0rem;
	}
	@include mobile {
		padding: 8rem 16px 16px;
	}

	.header {
		margin: 85px 87px;
		text-align: center;

		@include mobile {
			margin: 21px 16px;
		}

		h2 {
			@include sub-title;
			margin-bottom: 17px;

			@include mobile {
				font-size: 24px;
				line-height: 28px;
				text-align: center;
				margin-bottom: 8px;
			}
		}

		p {
			@include sub-text;
			width: 85%;
			margin: 0 auto;

			@include mobile {
				font-size: 12px;
				line-height: 16px;
				text-align: center;
				width: 100%;
			}
		}
	}
	.banner {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		.img {
			width: 100%;
		}

		button {
			@include btn;
			border-radius: 12px;
			background: #ffffff;
			color: #08090a;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 8px;
			position: absolute;
			top: 55%;
		}
	}
}

.main1 {
	padding: 0 $bodymargin;

	@include macbookpro {
		padding: 0 17rem;
	}

	@include macbook {
		padding: 0 5rem;
	}

	@include mobile {
		padding: 0 16px;
	}

	.create {
		margin: 160px 0 80px;

		@include mobile {
			margin: 42px 0 24px;
		}

		.title__head {
			font-family: interSemiBold;
			font-size: 64px;
			line-height: 72px;
			color: rgba(255, 255, 255, 0.24);
			width: 70%;

			@include mobile {
				font-size: 24px;
				line-height: 32px;
				width: 100%;
			}
		}
	}

	.feature__container__1 {
		.feature1 {
			margin: 1.5rem 0 17rem;

			@include mobile {
				margin: 1.5rem 0 4rem;
			}

			.feature1__title {
				margin-bottom: 28px;

				h2 {
					@include sub-title;
					margin-bottom: 24px;

					@include mobile {
						font-size: 24px;
						line-height: 20px;
						margin-bottom: 10px;
					}
				}

				p {
					@include sub-text;
					width: 70%;
					padding-bottom: 20px;
					border-bottom: 1px solid transparent;
					border-image: linear-gradient(
							to right,
							rgba(255, 255, 255, 0) 0%,
							rgba(255, 255, 255, 0.1) 50%,
							rgba(255, 255, 255, 0) 100%
						)
						1;

					@include mobile {
						font-size: 12px;
						line-height: 16px;
						padding-bottom: 10px;
						width: 100%;
					}
				}
			}

			.feature1__flex {
				display: flex;
				justify-content: center;
				margin-bottom: 28px;

				@include mobile {
					flex-direction: column;
				}

				.feature1__flex__img {
					@include mobile {
						width: 100%;

						img {
							width: 100%;
							margin-bottom: 27px;
						}
					}
				}

				.feature1__flex__container {
					display: flex;
					flex-wrap: wrap;

					.feature1__flex__content {
						padding: 48px 64px;
						width: 348px;
						border: 1px solid rgba(255, 255, 255, 0.07);

						@include macbookpro {
							padding: 27px 30px;
							width: 320px;
						}
						@include macbook {
							padding: 27px 30px;
							width: 300px;
						}
						@include mobile {
							padding: 27px 16px;
							width: 180px;
						}

						h3 {
							@include flex-item__h3;

							@include mobile {
								font-size: 12px;
							}
						}

						p {
							@include flex-item__p;

							@include mobile {
								font-size: 12px;
							}
						}
					}
				}
			}

			.btn {
				display: flex;
				justify-content: end;
			}
		}

		.feature1__mod {
			margin-bottom: 309px;

			@include mobile {
				margin-bottom: 220px;
			}

			.feature1__flex {
				@include mobile {
					flex-direction: column-reverse;
				}
			}
		}
	}
}

.main3 {
	padding: 16rem $bodymargin 0;

	@include macbookpro {
		padding: 16rem 17rem 0rem;
	}
	@include macbook {
		padding: 16rem 5rem 0rem;
	}
	@include mobile {
		padding: 1.5rem 16px 0rem;
	}

	.feature1 {
		margin: 1.5rem 0 17rem;

		@include mobile {
			margin: 1.5rem 0 4rem;
		}

		.feature1__title {
			margin-bottom: 28px;

			@include mobile {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
			}

			h2 {
				font-family: interSemiBold;
				font-size: 4rem;
				line-height: 72px;
				color: rgba(255, 255, 255, 0.24);
				width: 90%;
				margin-bottom: 84px;

				@include mobile {
					font-size: 24px;
					line-height: 28px;
					width: 100%;
					text-align: center;
					color: $primary;
					margin-bottom: 16px;
				}
			}

			p {
				@include sub-text;
				width: 70%;
				margin-bottom: 21px;
				padding-bottom: 20px;
				border-bottom: 1px solid transparent;
				border-image: linear-gradient(
						to right,
						rgba(255, 255, 255, 0) 0%,
						rgba(255, 255, 255, 0.1) 50%,
						rgba(255, 255, 255, 0) 100%
					)
					1;

				@include mobile {
					font-size: 12px;
					line-height: 16px;
					padding-bottom: 10px;
					width: 100%;
					text-align: center;
				}
			}
		}

		.feature1__flex {
			display: flex;
			justify-content: center;
			margin-bottom: 28px;

			@include mobile {
				flex-direction: column;
			}

			.feature1__flex__img {
				@include mobile {
					width: 100%;

					img {
						width: 100%;
						margin-bottom: 27px;
					}
				}
			}

			.feature1__flex__container {
				display: flex;
				flex-wrap: wrap;

				.feature1__flex__content {
					padding: 48px 64px;
					width: 348px;
					border: 1px solid rgba(255, 255, 255, 0.07);

					@include macbookpro {
						padding: 27px 30px;
						width: 320px;
					}
					@include macbook {
						padding: 27px 30px;
						width: 300px;
					}
					@include mobile {
						padding: 27px 16px;
						width: 180px;
					}

					h3 {
						@include flex-item__h3;
					}

					p {
						@include flex-item__p;
					}
				}
			}
		}
	}

	.feature1__mod {
		.feature1__flex {
			@include mobile {
				flex-direction: column-reverse;
			}
		}
	}
}

.main2 {
	background: #171717;
	padding: 148px $bodymargin 172px;

	@include macbookpro {
		padding: 9.25rem 17rem 10.75rem;
	}
	@include macbook {
		padding: 9.25rem 5rem 10.75rem;
	}
	@include mobile {
		padding: 42px 16px 42px;
	}

	.h2__container {
		margin-bottom: 4rem;

		@include mobile {
			margin-bottom: 16px;
		}

		h2 {
			font-family: interSemiBold;
			font-size: 4rem;
			line-height: 72px;
			color: rgba(255, 255, 255, 0.24);
			width: 90%;

			@include mobile {
				font-size: 24px;
				line-height: 28px;
				width: 100%;
			}
		}
	}

	.btn__container {
		margin-bottom: 22px;

		@include mobile {
			margin-bottom: 8px;
		}

		p {
			@include sub-text;
			color: rgba(255, 255, 255, 0.6);
			width: 73%;
			margin-bottom: 22px;
			padding-bottom: 20px;
			border-bottom: 1px solid transparent;
			border-image: linear-gradient(
					to right,
					rgba(255, 255, 255, 0) 0%,
					rgba(255, 255, 255, 0.1) 50%,
					rgba(255, 255, 255, 0) 100%
				)
				1;

			@include mobile {
				width: 100%;
				font-size: 12px;
			}
		}
	}

	.main2__container1 {
		margin-bottom: 200px;

		@include mobile {
			margin-bottom: 10px;
		}
	}

	.main2__container1:nth-child(2) {
		.h2__container {
			h2 {
				width: 60%;

				@include mobile {
					width: 100%;
				}
				@include macbook {
					width: 70%;
				}
			}
		}
	}
	.main2__container1:nth-child(3) {
		.flex__content {
			@include mobile {
				height: 200px;
			}
		}
	}

	.main2__container1:nth-child(4) {
		margin-bottom: 0;
		.h2__container {
			h2 {
				width: 95%;

				@include mobile {
					width: 100%;
				}
				@include macbook {
					width: 100%;
				}
			}
		}
	}

	.main2__flex__container {
		display: flex;
		flex-wrap: wrap;
		padding: 48px 0 0;
		border-left: 1px solid rgba(255, 255, 255, 0.07);

		.flex__content {
			padding: 48px 64px;
			width: 348px;
			height: 306px;
			border: 1px solid rgba(255, 255, 255, 0.07);

			@include mobile {
				width: 180px;
				height: 174px;
				padding: 27px 15px;
			}

			h3 {
				@include flex-item__h3;

				@include mobile {
					font-size: 12px;
				}
			}

			p {
				@include flex-item__p;
				@include mobile {
					font-size: 12px;
				}
			}
		}
	}
}

.waitlist {
	display: flex;
	justify-content: center;
	margin: 200px 0 167px;
}
