@use '/src/styles/variables' as *;
@use '/src/styles/mixins' as *;

header {
	padding: 15.75rem $bodymargin 0rem;

	.header {
		margin: 85px 87px;
		text-align: center;

		h2 {
			@include sub-title;
			margin-bottom: 17px;
		}

		p {
			@include sub-text;
			width: 80%;
			margin: 0 auto;
		}
	}
	.banner {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		.img {
			width: 100%;
		}

		button {
			@include btn;
			border-radius: 12px;
			background: #ffffff;
			color: #08090a;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 8px;
			position: absolute;
			top: 55%;
		}
	}
}

.main1 {
	padding: 0 $bodymargin;

	.create {
		margin: 160px 0 80px;

		.title__head {
			font-family: interSemiBold;
			font-size: 64px;
			line-height: 72px;
			color: rgba(255, 255, 255, 0.24);
			width: 70%;
		}
	}

	.feature__container__1 {
		.feature1 {
			margin: 1.5rem 0 17rem;

			.feature1__title {
				margin-bottom: 28px;

				h2 {
					@include sub-title;
					margin-bottom: 24px;
				}

				p {
					@include sub-text;
					width: 70%;
					padding-bottom: 20px;
					border-bottom: 1px solid transparent;
					border-image: linear-gradient(
							to right,
							rgba(255, 255, 255, 0) 0%,
							rgba(255, 255, 255, 0.1) 50%,
							rgba(255, 255, 255, 0) 100%
						)
						1;
				}
			}

			.feature1__flex {
				display: flex;
				justify-content: center;
				margin-bottom: 28px;

				.feature1__flex__container {
					display: flex;
					flex-wrap: wrap;

					.feature1__flex__content {
						padding: 48px 64px;
						width: 348px;
						border: 1px solid rgba(255, 255, 255, 0.07);

						h3 {
							@include flex-item__h3;
						}

						p {
							@include flex-item__p;
						}
					}
				}
			}

			.btn {
				display: flex;
				justify-content: end;
			}
		}

		.feature1:nth-child(2) {
			margin-bottom: 309px;
		}
	}
}

.main3 {
	padding: 16rem $bodymargin 0;

	.feature1 {
		margin: 1.5rem 0 17rem;

		.feature1__title {
			margin-bottom: 28px;

			h2 {
				font-family: interSemiBold;
				font-size: 4rem;
				line-height: 72px;
				color: rgba(255, 255, 255, 0.24);
				width: 90%;
				margin-bottom: 84px;
			}

			p {
				@include sub-text;
				width: 70%;
				margin-bottom: 21px;
				padding-bottom: 20px;
				border-bottom: 1px solid transparent;
				border-image: linear-gradient(
						to right,
						rgba(255, 255, 255, 0) 0%,
						rgba(255, 255, 255, 0.1) 50%,
						rgba(255, 255, 255, 0) 100%
					)
					1;
			}
		}

		.feature1__flex {
			display: flex;
			justify-content: center;
			margin-bottom: 28px;

			.feature1__flex__container {
				display: flex;
				flex-wrap: wrap;

				.feature1__flex__content {
					padding: 48px 64px;
					width: 348px;
					border: 1px solid rgba(255, 255, 255, 0.07);

					h3 {
						@include flex-item__h3;
					}

					p {
						@include flex-item__p;
					}
				}
			}
		}
	}
}

.main2 {
	background: #171717;
	padding: 148px $bodymargin 172px;

	.h2__container {
		margin-bottom: 4rem;

		h2 {
			font-family: interSemiBold;
			font-size: 4rem;
			line-height: 72px;
			color: rgba(255, 255, 255, 0.24);
			width: 90%;
		}
	}

	.btn__container {
		margin-bottom: 22px;

		p {
			@include sub-text;
			color: rgba(255, 255, 255, 0.6);
			width: 73%;
			margin-bottom: 22px;
			padding-bottom: 20px;
			border-bottom: 1px solid transparent;
			border-image: linear-gradient(
					to right,
					rgba(255, 255, 255, 0) 0%,
					rgba(255, 255, 255, 0.1) 50%,
					rgba(255, 255, 255, 0) 100%
				)
				1;
		}
	}

	.main2__container1 {
		margin-bottom: 200px;
	}

	.main2__container1:nth-child(2) {
		.h2__container {
			h2 {
				width: 60%;
			}
		}
	}
	.main2__container1:nth-child(4) {
		margin-bottom: 0;
		.h2__container {
			h2 {
				width: 95%;
			}
		}
	}

	.main2__flex__container {
		display: flex;
		flex-wrap: wrap;
		padding: 48px 0 0;
		border-left: 1px solid rgba(255, 255, 255, 0.07);

		.flex__content {
			padding: 48px 64px;
			width: 348px;
			height: 306px;
			border: 1px solid rgba(255, 255, 255, 0.07);

			h3 {
				@include flex-item__h3;
			}

			p {
				@include flex-item__p;
			}
		}
	}
}

.waitlist {
	display: flex;
	justify-content: center;
	margin: 200px 0 167px;
}
