@use '/src/styles/variables' as *;
@use '/src/styles/mixins' as *;

footer {
	padding: 3rem 192px 0;
	background: #171717;

	@include Hd {
		padding: 3rem 5rem 0;
	}
	@include macbookpro {
		padding: 3rem 192px 0;
	}
	@include Qhd {
		padding: 3rem 300px 0;
	}
	@include Uhd {
		padding: 3rem 880px 0;
	}
	@include tablet{
		padding: 3rem 1.5rem 0;
	}
	@include mobile {
		padding: 42px 19.56px;
	}

	.main1 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 47px;
		border-bottom: 1px solid #525252;

		@include mobile {
			padding-bottom: 10px;
		}
	}

	.main2 {
		display: flex;
		justify-content: space-between;
		margin-top: 3.125rem;

		@include mobile {
			flex-direction: column;
			align-items: center;
		}

		.main2__copyright {
			width: 50%;

			@include mobile {
				width: 100%;
			}

			p {
				@include sub-text;
				color: #737373;
			}

			p:nth-child(1) {
				margin-bottom: 5.75rem;

				@include mobile {
					margin-bottom: 43px;
				}
			}

			p:nth-child(2) {
				@include mobile {
					display: none;
				}
			}
		}

		.main2__links {
			display: flex;
			justify-content: space-between;
			padding: 0 65px;
			width: 100%;

			@include mobile {
				justify-content: space-between;
				padding: 0;
				margin-bottom: 89px;
			}

			.links {
				width: 30%;

				@include mobile {
					width: 100%;
				}

				h3 {
					font-family: interMedium;
					font-size: 20px;
					color: $primary;
					margin-bottom: 24px;
				}

				ul li {
					padding: 8px 5px;
					@include sub-text;
					color: rgba(255, 255, 255, 0.4);
					cursor: pointer;
					transition: 0.5s ease-in-out;

					&:hover {
						background: #525252;
					}
				}
			}

			.link__con {
				display: flex;
				justify-content: space-between;
				width: 60%;
				gap: 2.75rem;

				@include macbookpro {
					width: 60%;
				}
				@include macbook {
					width: 60%;
				}

				@include mobile {
					flex-direction: column;
					justify-content: start;
					width: 100%;
				}
			}
		}

		.main2__contact {
			.socials {
				display: flex;
				justify-content: end;
				align-items: center;
				gap: 16px;
				margin-bottom: 0.9375rem;

				@include mobile {
					justify-content: center;
				}
			}

			.mail {
				p {
					display: flex;
					justify-content: end;
					align-items: center;
					gap: 8px;
					@include sub-text;
					margin-bottom: 16px;

					@include mobile {
						text-align: center;
						justify-content: center;
					}
				}

				.copy {
					display: none;

					@include mobile {
						display: block;
					}
				}
			}
		}
	}

	.footerlogo {
		@include flex;

		@include tablet{
			width: 100%;

			img{
				width: 100%;
			}
		}

		@include mobile {
			display: none;
		}
	}
}
