@use '/src/styles/variables' as *;
@use '/src/styles/mixins' as *;

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 62px 0;
	position: fixed;
	width: 100%;
	z-index: 100;

	@include Hd {
		padding: 0 5rem;
	}

	@include Fhd {
		padding: 0 $bodymargin ;
	}

	@include Qhd {
		padding: 0 42rem ;
	}

	@include Uhd {
		padding: 0 82rem;
	}

	@include macbookpro {
		padding: 0 17rem ;
	}

	@include tablet{
		padding: 0 1.5rem;
		margin: 30px 0;
	}

	@include mobile {
		padding: 16px;
		margin: 0 0;
	}
}
.nav__container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.75rem 0.5rem;
	border-radius: 1.25rem;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(10px);
	font-family: interMedium;
	font-size: 0.875rem;

	@include mobile {
		border-radius: 0;
	}

	.logo {
		@include mobile {
			width: 60%;
		}
	}

	.nav__links {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2.25rem;

		@include tablet{
			gap: 0rem;
		}

		@include mobile {
			position: fixed;
			top: 0px;
			right: -200%;
			width: 100%;
			background: #000000d6;
			flex-wrap: wrap;
			padding: 66px 50px 33px;
			transition: right 0.3s ease-in-out;;

			&.nav__links__open {
				right: 0;
			}
		}
	}

	.links {
		padding: 0.5rem 1rem;
		color: $primary;
		text-transform: capitalize;

		@include mobile {
			padding: 10px 1rem;
		}
	}

	.active__link {
		font-family: interSemiBold;
		font-size: 16px;
	}

	.nav__btns {
		display: flex;
		gap: 0.5rem;
		align-items: center;

		.links__mod {
			@include mobile {
				display: none;
			}
		}

		.harmburger {
			cursor: pointer;
			display: none;

			@include mobile {
				display: block;

				&.harmburger__open {
					.bars:nth-child(1) {
						transform: rotate(45deg) translate(3px, 3px);
					}

					.bars:nth-child(2) {
						opacity: 0;
					}

					.bars:nth-child(3) {
						transform: rotate(-45deg) translate(6px, -6px);
					}
				}
			}
			.bars {
				height: 2px;
				width: 18px;
				margin-bottom: 4px;
				background-color: $primary;
				border-radius: 20px;
			}
		}
	}
}
