@use '/src/styles/variables' as *;
@use '/src/styles/mixins' as *;

.head {
	padding: 15.75rem $bodymargin 3rem;
	text-align: center;

	@include Hd {
		padding: 15.75rem 5rem 3rem;
	}
	@include Fhd {
		padding: 15.75rem $bodymargin 3rem;
	}
	@include Qhd {
		padding: 15.75rem 42rem 3rem;
	}
	@include Uhd {
		padding: 15.75rem 82rem 3rem;
	}
	@include scaled-range{
		padding: 15.75rem 10rem 3rem;
	}
	@include tablet {
		padding: 8.75rem 1.5rem 3rem;
	}
	@include mobile {
		padding: 8rem 16px 16px;
	}

	h1 {
		color: #d4d4d4;
		font-family: interBold;
		font-size: 4rem;
		line-height: 4.175rem;
		letter-spacing: -0.0762rem;
		margin-bottom: 2.5rem;

		@include tablet {
			font-size: 2.5rem;
			margin-bottom: 1rem;
		}
		@include mobile {
			font-size: 36px;
			line-height: 26px;
			margin-bottom: 16px;
		}
	}

	p {
		color: #737373;
		font-family: interRegular;
		font-size: 1.25rem;

		@include tablet {
			font-size: 14px;
		}
		@include mobile {
			font-size: 20px;
			line-height: 24px;
		}
	}
}

main {
	padding: 0 84px;
	margin-top: 58px;

	@include Hd {
		padding: 0 15px;
	}
	@include macbookpro {
		padding: 0 58px;
	}
	@include scaled-range{
		padding: 0 30px;
	}
	@include Qhd {
		padding: 0 420px;
	}
	@include Uhd {
		padding: 0 966px;
	}
	@include desktop-ultrawide {
		padding: 0 900px;
	}
	@include tablet {
		margin-top: 20px;
		padding: 0 1.5rem;
	}
	@include mobile {
		padding: 0 16px;
		margin-top: 53px;
	}

	.main1__mini1 {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 50px;

		button {
			@include btn;
			border-radius: 10px;
			background: transparent;
			padding: 0.5rem 1rem;
			font-size: 16px;
			color: #737373;

			@include mobile {
				font-size: 12px;
			}
		}

		.active__btn {
			background: #86efac;
			color: #1e1e1e;
		}
	}

	.main1__mini2 {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include tablet {
			flex-wrap: wrap;
			row-gap: 1em;
		}
		@include mobile {
			flex-direction: column;
			gap: 41px;
		}

		.pricing__cards {
			padding: 30px 36px;
			border: 0.5px solid #737373;
			border-radius: 10px;
			width: 400px;
			height: 950px;

			@include macbookpro {
				padding: 30px 16px;
				width: 380px;
			}
			@include macbook {
				padding: 30px 10px;
				width: 300px;
				height: 1020px;
			}
			@include scaled-range{
				width: 350px;
			}
			@include tablet {
				padding: 10px;
				width: 370px;
			}
			@include mobile {
				padding: 30px 16px;
				width: 331px;
				height: fit-content;
			}

			h2 {
				color: #d4d4d4;
				font-size: 1.5rem;
				font-family: interRegular;
				margin-bottom: 30px;

				@include mobile {
					text-align: center;
					font-size: 20px;
					margin-bottom: 10px;
				}
			}

			.price {
				color: #86efac;
				font-size: 30px;
				font-family: interBold;
				margin-bottom: 30px;

				@include mobile {
					text-align: center;
					font-size: 20px;
				}
			}

			.price__btn {
				@include btn;
				padding: 20px 0;
				width: 100%;
				border-radius: 10px;
				background: transparent;
				border: 0.5px solid #737373;
				color: #d4d4d4;
			}

			.pricing__cards__features {
				margin-top: 3.125rem;

				p {
					display: flex;
					align-items: baseline;
					gap: 20px;
					font-family: interRegular;
					font-size: 0.875rem;
					color: #d4d4d4;
					margin-bottom: 18px;

					@include mobile {
						gap: 10px;
					}

					@include mobile {
						font-size: 12px;
					}
				}
			}
		}

		.pricing__cards:nth-child(3) {
			border: none;
			background: #86efac;

			.pricing__plans {
				display: flex;
				justify-content: space-between;
				align-items: center;

				h2 {
					color: #1e1e1e;
				}

				p {
					font-family: interRegular;
					font-size: 0.875rem;
					color: $primary;
					background: #1f4c3b;
					padding: 5px;
					border-radius: 10px;
					height: 10%;
				}
			}

			.price__container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 30px;

				.price {
					color: #1e1e1e;
					margin-bottom: 0;
				}

				p:nth-child(2) {
					font-family: interRegular;
					font-size: 16px;
					color: #191a1b;
				}
			}

			.price__btn {
				background: #0a0a0a;
				border: none;
			}

			.pricing__cards__features {
				p {
					color: #1e1e1e;
				}
			}
		}

		.pricing__cards:nth-child(4),
		.pricing__cards:nth-child(2) {
			.price__container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 30px;

				.price {
					margin-bottom: 0;
				}

				p:nth-child(2) {
					font-family: interRegular;
					font-size: 16px;
					color: #d4d4d4;
				}
			}
		}
	}

	.container {
		margin-top: 6.25rem;

		@include mobile {
			margin-top: 38px;
		}

		.planTiers {
			display: flex;
			justify-content: space-between;
			margin-bottom: 33px;

			.planTier {
				display: flex;
				justify-content: center;
				flex-direction: column;
				color: #86efac;
				flex: 1;

				h2 {
					font-family: interBold;
					font-size: 4rem;
					color: #d4d4d4;

					@include mobile {
						font-size: 20px;
					}
				}

				h3 {
					font-family: interSemiBold;
					font-size: 1.875rem;
					margin-bottom: 48px;
					text-align: center;

					@include mobile {
						font-size: 12px;
						margin-bottom: 15px;
					}
				}

				.getStartedBtn {
					@include btn;
					background: transparent;
					color: rgba(255, 255, 255, 0.84);
					border: 1px solid rgba(255, 255, 255, 0.15);
					margin: 0 auto;

					@include mobile {
						font-size: 5px;
					}
				}
			}
		}

		.featuresTable {
			display: flex;
			flex-direction: column;

			.featureRow {
				display: flex;
				border-bottom: 1px solid rgba(255, 255, 255, 0.24);
				padding: 35px 0;

				@include mobile {
					padding: 15px 0;
				}

				.featureName {
					font-weight: bold;
					font-family: interRegular;
					font-size: 1rem;
					color: $primary;
					width: 340px;

					@include mobile {
						font-size: 8px;
						width: 110px;
					}
				}

				.featureValue {
					flex: 1;
					text-align: center;
					font-family: interRegular;
					text-transform: capitalize;
					font-size: 14px;
					color: $primary;

					@include mobile {
						font-size: 8px;
					}

					p {
						width: 80%;
						margin: 0 auto;
					}
				}
			}
		}
	}

	.main4 {
		margin: 114px 0 91px;
		padding: 7rem;

		@include tablet{
			padding: 0;
		}
		@include mobile {
			padding: 0 20px;
		}
	}
}
