@use '/src/styles/variables' as *;
@use '/src/styles/mixins' as *;

.head {
	padding: 15.75rem $bodymargin 6.25rem;

	@include mobile {
		padding: 8rem 16px 16px;
	}

	@include macbook {
		padding: 15.75rem 5rem 6.25rem;
	}

	p {
		@include sub-text;
		width: 72%;
		margin: 0 auto;
		padding: 19px 0;

		@include mobile {
			width: 100%;
			font-size: 12px;
			text-align: center;
		}

		@include macbook {
			width: 90%;
			margin: 0;
			text-align: center
		}
	}

	h3 {
		@include sub-text;
		padding: 16px;
		background: rgba(255, 255, 255, 0.12);
		width: fit-content;
		margin: 0 auto;
	}
}

.wrapper {
	@include terms;

	@include mobile {
		padding: 0 16px 16px;

		.sidebar {
			display: none;
		}

		.main {
			width: 100%;

			.term__details {
				margin-bottom: 16px;

				.number {
					width: 38px;
					height: 34px;
					border-radius: 10px;
					margin-bottom: 10px;

					p {
						font-size: 20px;
					}
				}

				h2 {
					font-size: 18px;
					line-height: 20px;
					margin-bottom: 10px;
				}

				p {
					font-size: 10px;
					line-height: 12px;
				}

				li {
					font-size: 10px;
					line-height: 12px;
				}
			}
		}
	}

	@include macbook {
		padding: 0 5rem 23.5rem;

		.head {
			p {
				margin: 0;
			}
		}
	}

	.term__mod {
		padding-bottom: 24px;
		border-bottom: 1px solid transparent;
		border-image: linear-gradient(
				to right,
				rgba(255, 255, 255, 0) 0%,
				rgba(255, 255, 255, 0.1) 50%,
				rgba(255, 255, 255, 0) 100%
			)
			1;

		@include mobile {
			border: none;
		}

		ul {
			margin-bottom: 15px;
		}

		p {
			padding: 0;
			border: none;

			@include mobile {
				border: none;
			}
		}
	}

	.last {
		border: none;

		@include mobile {
			border: none;
		}

		h3,
		h4 {
			@include sub-text;

			@include mobile {
				font-size: 12px;
				line-height: 14px;
			}
		}

		h4 {
			margin-bottom: 16px;
		}

		.last1 {
			padding: 0;
		}
	}
}
