@use '/src/styles/variables' as *;
@use '/src/styles/mixins' as *;

.header {
	padding: 15.75rem 240px 0rem;

	@include macbook {
		padding: 15.75rem 5rem 0rem;
	}
	@include mobile {
		padding: 8rem 16px 16px;
	}
}

.main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	
	@include mobile {
		padding: 0 16px 100px;
		gap: 182px;
	}

	.content {
		width: 896px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@include mobile {
			width: 100%;
		}

		@include macbook {
			width: 1000px;
			margin: 0 auto;
		}
	}

	.waitlist {
		display: none;

		@include mobile {
			display: block;
		}
	}
}
