@use '/src/styles/variables' as *;
@use '/src/styles/mixins' as *;

.head {
	padding: 15.75rem $bodymargin 6.25rem;

	@include Hd {
		padding: 15.75rem 5rem 6.25rem;
	}
	@include Qhd {
		padding: 15.75rem 42rem 6.25rem;
	}
	@include Uhd {
		padding: 15.75rem 82rem 6.25rem;
	}
	@include mobile {
		padding: 8rem 16px 16px;
	}
}

.wrapper {
	@include terms;
	padding: 0 $bodymargin 23.5rem;

	@include Qhd {
		padding: 0 42rem 23.5rem;
	}
	@include Uhd {
		padding: 0 82rem 23.5rem;
	}


	@include mobile {
		padding: 0 16px 16px;

		.sidebar {
			display: none;
		}

		.main {
			width: 100%;

			.term__details {
				margin-bottom: 16px;

				.number {
					width: 38px;
					height: 34px;
					border-radius: 10px;
					margin-bottom: 10px;

					p {
						font-size: 20px;
					}
				}

				h2 {
					font-size: 18px;
					line-height: 20px;
					margin-bottom: 10px;
				}

				p {
					font-size: 10px;
					line-height: 12px;
				}

				li {
					font-size: 10px;
					line-height: 12px;
				}
			}
		}
	}

	@include macbookpro {
		padding: 0 17rem 23.5rem;
	}
	@include macbook {
		padding: 0 5rem 23.5rem;
	}
}
